{% extends "base.html" %}

{% block content %}
    {% if not request.user.is_authenticated %}
        <div>
            <form method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <button type="submit" style="border: 0.5em solid dodgerblue;">Login</button>
            </form>
        </div>
        <div style="margin: 2em;">
            <span style="margin: 10px; padding: 10px; border: 3px solid dodgerblue;">
            Don't have an account ? , please <a href="/accounts/register/">Register</a>
            </span>
        </div>
    {% else %}
        <p>Youre logged in already, would you like to <a href="/accounts/logout/"><b>Logout</b></a></p>
    {% endif %}
{% endblock content %}