{% extends "base.html" %}

{% block content %}
    <div>
        <form method="POST">
            {% csrf_token %}
            {% if error %}
                <p style="color: crimson;">invalid username or password</p>
            {% endif %}
            <input type="text" name="username" id="1" placeholder="username" style="margin-top: 2em;">
            <input type="password" name="password" id="2" placeholder="password" style="margin-top: 2em;">
            <button type="submit" style="border: 1em solid dodgerblue;">Login</button>
        </form>
    </div>
{% endblock content %}