{% extends "base.html" %}

{% block content %}
    <form action="/articles/create/" method="POST" style="margin: top 30px;">
        {% csrf_token %}
        <div style="margin-top: 20px;">
            <input type="text" name="title" id="1" placeholder="Article Title">
        </div>
        <div style="margin-top: 20px; margin-bottom: 20px;">
            <input type="text" name="content" id="2" placeholder="Article Content">
        </div>
        <button type="submit">Create Article</button>
    </form>
{% endblock content %}